.user-info__button {
  position: absolute;
  top: 16px;
  right: 0;
  transition-duration: 0.2s;
}

.user-info__button:hover {
  background-color: #4e5b6e; 
}

@media screen and (max-width: 980px) {
  .user-info__button {
    position: static;
    margin-bottom: 40px;
  }
}


